<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% application_name = ShopifyApp.configuration.application_name %>
    <title><%= application_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="<%= application_name %>">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="shopify-api-key" content="<%= ShopifyApp.configuration.api_key %>" />

    <%= stylesheet_link_tag :app %>
    <%= vite_react_refresh_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "inertia" %>
    <%= inertia_ssr_head %>
    <%= vite_javascript_tag 'application' %>

    <%= csrf_meta_tags %>

    <script src="https://cdn.shopify.com/shopifycloud/app-bridge.js"></script>
  </head>

  <body>
    <div class="app-wrapper">
      <div class="app-content">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/flash_messages' %>
  </body>
</html>
